<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ozone Php Framework{% endblock %} </title>
    <link rel="stylesheet" href="{{ base_url() }}/resources/css/style.css">
    {% block styles %}{% endblock %}

</head>
<body>
    {% include '@Example/includes/menu.twig' %}
    <div>
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>